#about {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.container {
  position: relative;
  z-index: 3; 
  text-align: center; 
  max-width: 900px; 
  margin: 0 auto; 
}

.image-container {
  perspective: 5000px !important;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  margin-bottom: 10px; 
}

.rotate-image {
  width: auto; 
  height: auto; 
  max-width: 300px; 
  transform-style: preserve-3d;
  box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: grab; 
  transition: transform 0.1s ease-out; 
  padding-left: 50px;
}

.rotate-image:hover {
  transform: translateZ(20px) rotateY(10deg); 
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7); 
}

.rotate-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; 
  transform: translateZ(-20px);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .rotate-image {
    max-width: 50%; 
  }
}

@media (max-width: 480px) {
  .rotate-image {
    max-width: 50%; 
  }
}

.about-text p {
  margin: 10px 0;
  font-size: 1.25rem; 
  line-height: 1.5; 
}
 
.aboutTitle {
  color: #fff; 
  font-size: 3.5rem;
  margin: 8.5rem 0 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding: 35px;
  border-radius: 8px;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(228, 228, 228, 0.5)), 
    url('../images/sec_title_img.jpg'); 
  background-size: contain; 
  background-position: center; 
}

.aboutTitle::after {
  content: '';
  display: block;
  width: 50%;
  height: 5px;
  background: #fff;
  margin: 0.5rem auto 0;
  border-radius: 5px;
}

p {
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 1.5rem;
  line-height: 1.8;
}

.emphText {
  font-weight: bold;
  color: #ffc107;
}

.text-primary {
  color: #25e035 !important;
  text-decoration: underline;
}

.text-primary:hover {
  color: #0064cf !important;
}

.rotate-instruction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.rotate-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.instruction-text {
  font-size: 1rem;
  color: #ffc107;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.about-text {
  position: relative;
  overflow: hidden;
}

.about-text p {
  font-size: 2rem;
  color: #fff;
  line-height: 1.8;
  font-weight: bold;
  opacity: 0;
  transform: translateY(50px);
  animation: aboutLineEffect 1s forwards;
  margin: 20px;
}

@keyframes aboutLineEffect {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .aboutTitle {
    font-size: 2.5rem; 
    margin: 4rem 0 1rem;
  }

  .rotate-image {
    width: 80%;
  }

  p {
    font-size: 1rem;
  }

  .about-text p {
    font-size: 1.5rem; 
  }

  .rotate-instruction {
    flex-direction: column; 
    align-items: center;
  }

  .rotate-icon {
    font-size: 1.2rem;
  }

  .instruction-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .aboutTitle {
    font-size: 2rem; 
  }

  p {
    font-size: 0.9rem; 
  }

  .about-text p {
    font-size: 1.2rem;
  }
}
