#portfolio {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.portfolioTitle {
    color: #fff; 
    font-size: 3rem;
    margin: 8.5rem 0 2rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(228, 228, 228, 0.5)), 
      url('../images/sec_title_img.jpg'); 
    background-size: contain; 
    background-position: center; 
}

.portfolioTitle::after {
    content: '';
    display: block;
    width: 50%;
    height: 5px;
    background: #fff;
    margin: 0.5rem auto 0;
    border-radius: 5px;
}

.project-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 2rem;
}

.project {
    text-align: center; 
}

.prj-title {
    font-size: 1.5rem;
    margin-top: 0.5rem; 
    background: linear-gradient(rgba(44, 44, 44, 0.411), rgba(65, 63, 63, 0.658));
    padding: 10px;
    border-radius: 5px;
    text-align: center; 
}

.thumbnail {
    width: 100%; 
    max-width: 450px; 
    height: auto;
    aspect-ratio: 16 / 9; 
}


.thumbnail:hover {
    transform: scale(0.95);
    cursor: pointer;
}

#techBooksV1{
    background: url('../images/thumbnails/techBooksV1.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

#portfolioV1{
    background: url('../images/thumbnails/portfolioV1.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .portfolioTitle {
        font-size: 2.5rem; 
        margin: 4rem 0 1rem;
        margin-bottom: 5rem;
    }

    .project {
        flex-basis: 100%; 
        max-width: 100%; 
    }

    .thumbnail {
        width: 90%; 
    }

    .prj-title {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .portfolioTitle {
        font-size: 2rem; 
    }

    .prj-title {
        font-size: 1rem; 
    }
}
