#skills {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 20px; 
}

.rubik-cube-container {
  width: 100%; 
  height: 400px; 
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

.skillsTitle {
  color: #fff; 
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  margin: 8.5rem 0 2rem;
  margin-top: 0;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(228, 228, 228, 0.5)), 
    url('../images/sec_title_img.jpg'); 
  background-size: contain; 
  background-position: center; 
}

.skillsTitle::after {
  content: ''; 
  display: block; 
  width: 50%; 
  height: 5px; 
  background: #fff; 
  margin: 0.5rem auto 0; 
  border-radius: 5px; 
}

.div-title {
  font-size: 2rem;
  color: #fff;  
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(22, 22, 22, 0.5));
  padding: 10px;
}

.div-title:hover {
  color: #00cf2d;
  transform: scale(1.1);
  cursor: pointer;
}

.tech-title {
  font-size: 1.5rem;
  margin-bottom: 0;
  background: linear-gradient(rgba(44, 44, 44, 0.411), rgba(65, 63, 63, 0.658));
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
}

.li-learning {
  font-size: 1.2rem;
  color: #fff;
  background: linear-gradient(rgba(44, 44, 44, 0.411), rgba(65, 63, 63, 0.658));
  list-style: none;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .skillsTitle {
    font-size: 2.5rem;
  }

  .div-title {
    font-size: 1.5rem;
  }

  .tech-title {
    font-size: 1.2rem; 
  }

  .li-learning {
    font-size: 1rem; 
  }

  .row {
    flex-direction: column; 
    align-items: flex-start; 
  }
}

.tech-title.JavaScript {
  color: #f0db4f; 
}

.tech-title.TypeScript {
  color: #007acc; 
}

.tech-title.CSharp {
  color: #68217A; 
}

.tech-title.Dart {
  color: #00B4B6; 
}

.tech-title.Java {
  color: #007396;
}

.tech-title.Python {
  color: #3776AB; 
}

.tech-title.React {
  color: #61dafb; 
}

.tech-title.Express {
  color: #ffffff;
}

.tech-title.ASPNETCore {
  color: #5C2D91;
}

.tech-title.Flutter {
  color: #02569B;
}

.tech-title.Nodejs {
  color: #8CC84B; 
}

.tech-title.HTML {
  color: #e34c26; 
}

.tech-title.CSS {
  color: #264de4; 
}

.tech-title.Bootstrap {
  color: #563d7c; 
}

.tech-title.MySQL {
  color: #00758f;
}